.Names {
    font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: #cbc9ff;
    height: 80px;
    padding-top: 15px;
    /*I want a black border under the name*/
}
.Position {
    font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
}
.PoliticianPhotos {
    padding-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 380px;
    height: 450px;
    border-radius: 50%;
    border-color: 3px solid lightblue;
}
.BackText {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 20px;
    margin-top: 20px;

    float: left
}
